.footer{
    width:100%;
    margin-top:5rem;
    background-color:#000;
    padding-top:5rem;
     padding-bottom:5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-top{
    width: 85%;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

.footer-left{
    width:50%;
}

.footer-left>img{
    width:50%;
}

.footer-right{
    display:flex;
   align-items: flex-start;
    justify-content: space-evenly;
    width: 50%;
}

.f-social{
    display:flex;
     align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width:20%;
}

.f-products{
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width:20%;
}
.f-contact{
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.info-head{
    color:#fff;
    font-size:1.25rem;
    font-weight:600;
    margin-bottom: 1rem;
}

.info{
    
    color:#fff;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight:500;
    text-decoration: none;
}

.footer-bottom{
    width: 85%;
}

.copyright{
    font-size:1.5rem;
    margin-top:3rem;
    font-weight: 400;
    color: #fff;
}

.footer-stroke{
    border:0.5px solid #fff;
    width:85%;
    margin-top:2rem;
    margin-bottom:2rem;
    opacity: 70%;
   
}
