.Products{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-row{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
}

.product-div{
    width: 50%;
    padding:0rem;
    background-color:#f7f7f7;
    border:0.5px solid #000;
}

.product-div>img{
    width:100%;
}
.product-details{
    padding-left:2rem;
    padding-bottom:2rem;
}

.product-name{
    font-size:3rem;
    letter-spacing:-1px;
    font-weight:700;
    color:#000;
}

.product-desc{
    font-size:1.5rem;
    line-height:2.5rem;
    font-weight:500;
    color:#000000d2;
    letter-spacing: -1px;
}

.product-btn{
    margin-top:2rem;
    width: 100%;
}

.product-button{
    background-color:#000;
    color:#fff;
    width: 40%;
    text-decoration: none;
    font-size: 1.75rem;
    padding:1rem;
    border:1px solid #000;
    border-radius: 50px;
    margin-top:2rem;
    cursor:pointer;
    
}

@media(max-width:768px){

    .product-row{
        flex-direction: column;
    }

    .product-div{
        width: 100%;
    }

    .product-details{
        padding-left:1rem;
        padding-right:1rem;
    }

    .product-name{
        font-size:2rem;
    }

    .product-desc{
        font-size:1.25rem;
        line-height: 1.5rem;
    }

    .product-button{
        font-size:1.25rem;
        width: 60%;
    }
}

.product-info-row{
    display: flex;
    align-items: center;
    justify-content: center;
   
    flex-direction: row;
    width: 100%;
    height:60vh;
    padding-bottom:2rem;
    border-bottom:1px solid #000;
}



.product-info-left{
    display: flex;
    align-items: center;
     justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.product-info-left>img{
    width: 90%;
    display: block;
}

.product-catalogue-name{
    font-size:1.75rem;
    font-weight: 400;
    border:1px solid #f58720;
    padding: 1rem 2rem 1rem 2rem;
    border-radius:40px;
}




.product-info-desc{
    font-size:1.5rem;
}

.know-more-btn{
    font-size:1.25rem;
    background-color:#000;
    color:#fff;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 30px;
}

.btn-div{
    margin-top:2rem;
    width: 100%;
}

.product-page-head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap:2rem;
    margin-top:1rem;
}

.product-page-heading{
    font-size:3rem;
    color:#f58720;
    text-align: left;
    font-weight:600;
    margin-left:5%;
}

.head-stroke{
    display: block;
    height:3px;
    width: 80%;
    background-color: #f58720;
}

@media(max-width:768px){
    .product-info-row{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top:2rem;
        padding-bottom: 2rem;
    }

    .product-info-left{
        width: 100%;
    }

    .product-info-left>img{
        width: 100%;
        
    }

    .product-catalogue-name{
        font-size:1rem;
        text-align: center;
        width: 80%;
    }

    .product-info-desc{
        font-size:1rem;
    }
}
